body,
html,
#root {
  margin: 0;
  padding: 0;
  background-size: cover;
  justify-content: center;
}

input,
label,
textarea,
span {
  font-family: 'Montserrat' !important;
}

#alert-dialog-slide-title {
  font-family: 'Montserrat' !important;
  color: '#01163D' !important;
}
